* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  /*font-size: ;*/
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0px;
  border: 0px;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
/*///////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////ШРИФТЫ/////////////////////////////////*/
@font-face {
  font-family: "HelveticaNeueLTProLt"; /* Имя шрифта */
  src: url(../fonts/HelveticaNeueLTProLt.otf) format(opentype); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: "HelveticaNeueLTProMd"; /* Имя шрифта */
  src: url(../fonts/HelveticaNeueLTProMd.otf) format(opentype); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: "HelveticaNeueLTProRoman"; /* Имя шрифта */
  src: url(../fonts/HelveticaNeueLTProRoman.otf) format(opentype); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: "Merriweather-LightItalic"; /* Имя шрифта */
  src: url(../fonts/Merriweather-LightItalic.ttf) format(truetype); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: "Montserrat-Light"; /* Имя шрифта */
  src: url(../fonts/Montserrat-Light.ttf) format(truetype); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: "Montserrat-Regular"; /* Имя шрифта */
  src: url(../fonts/Montserrat-Regular.ttf) format(truetype); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: "Roboto-Regular"; /* Имя шрифта */
  src: url(../fonts/Roboto-Regular.ttf) format(truetype); /* Путь к файлу со шрифтом */
}
/*////////////////////////////////ШРИФТЫ/////////////////////////////////*/
body {
  padding: 0px;
  margin: 0px;
}
.container {
  max-width: 1230px;
  padding: 0px 15px;
  margin: 0px auto;
  /*border: 1px solid rgb(98, 49, 49);*/
}
/*.header {}*/
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__item a {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #989696;
  margin-right: 43px;
}
.menu__item:last-child a {
  margin-right: 0px;
}
.active a {
  color: #010101;
}
.logo {
  margin: 0px 16px;
}
.header__content {
  text-align: center;
}
.header__title {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 44px;
  line-height: 41px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #1d1e1f;
  margin: 207px auto 4px;
}
.header__text {
  font-family: "Merriweather-LightItalic", serif;
  font-size: 16px;
  line-height: 17px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.03em;
  color: #898888;
  margin: 0 auto 43px;
}
.header__button {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #000000;
  width: 188px;
  height: 57px;
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto 206px;
}
/* ШРИФТЫ
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-family: "HelveticaNeueLTProMd", sans-serif;
  font-family: "HelveticaNeueLTProRoman", sans-serif;
  font-family: "Merriweather-LightItalic", sans-serif;
  font-family: "Montserrat-Light", sans-serif;
  font-family: "Montserrat-Regular", sans-serif;
  font-family: "Roboto-Regular", sans-serif;
*/
/*////////////////////////////////ШАПКА/////////////////////////////////*/
.about {
  max-height: 1129px;
  padding-top: 128px;
  padding-bottom: 271px;
  background: url(../img/siti_white.png) center 101% repeat-x,
    url(../img/siti_black.png) center 101% repeat-x, #1d1d1d;
  /*background-size: contain, contain;*/
}
.about__inner {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-template-columns: max-content max-content;
  grid-gap: 178px;
  place-content: center center;
}
.about__item {
  width: 417px;
  height: 276px;
  background-color: #181818;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__year {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #fefefe;
  margin-bottom: 27px;
}
.about__text {
  font-family: "Montserrat-Light", sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: 22px;
  color: #b7b7b7;
}

/*////////////////////////////////ABOUT/////////////////////////////////*/
.team {
  max-height: 745px;
  height: 100%;
}
.block__head {
  text-align: center;
}
.block__title {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #1d1e1f;
  padding-top: 138px;
  margin-bottom: 13px;
}
.block__text {
  font-family: "Merriweather-LightItalic", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.02em;
  color: #898888;
}
.team__inner {
  display: flex;
  justify-content: space-around;
  padding-top: 127px;
}
.team__item {
  text-align: center;
}
.team__item-img {
  margin-bottom: 29px;
}
.team__item-title {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #464646;
  margin-bottom: 7px;
}
.team__item-text {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #b3b3b3;
  margin-bottom: 21px;
}
.team__icon-box a {
  font-size: 20px;
  color: #e4e4e4;
  transition: 0.2s;
}
.team__icon-box a :hover {
  color: #9d7d7d;
 
}
