* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  /*font-size: ;*/
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0px;
  border: 0px;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
/*///////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////!ШРИФТЫ/////////////////////////////////*/
@font-face {
  font-family: "HelveticaNeueLTProLt"; /* Имя шрифта */
  src: url(../fonts/HelveticaNeueLTProLt.otf) format(opentype); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: "HelveticaNeueLTProMd"; /* Имя шрифта */
  src: url(../fonts/HelveticaNeueLTProMd.otf) format(opentype); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: "HelveticaNeueLTProRoman"; /* Имя шрифта */
  src: url(../fonts/HelveticaNeueLTProRoman.otf) format(opentype); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: "Merriweather-LightItalic"; /* Имя шрифта */
  src: url(../fonts/Merriweather-LightItalic.ttf) format(truetype); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: "Montserrat-Light"; /* Имя шрифта */
  src: url(../fonts/Montserrat-Light.ttf) format(truetype); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: "Montserrat-Regular"; /* Имя шрифта */
  src: url(../fonts/Montserrat-Regular.ttf) format(truetype); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: "Roboto-Regular"; /* Имя шрифта */
  src: url(../fonts/Roboto-Regular.ttf) format(truetype); /* Путь к файлу со шрифтом */
}
/*////////////////////////////////ШРИФТЫ/////////////////////////////////*/
body {
  padding: 0px;
  margin: 0px;
}
.container {
  max-width: 1230px;
  padding: 0px 15px;
  margin: 0px auto;
  /*border: 1px solid rgb(98, 49, 49);*/
}
/* .header {
} */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__item a {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #989696;
  margin-right: 43px;
  transition: 0.3s;
}
.menu__item a:hover {
  color: #b00ab6;
}
.menu__item:last-child a {
  margin-right: 0px;
}
.menu__mobile {
  display: none;
}
.active a {
  color: #010101;
}
.logo {
  margin: 0px 16px;
}
.header__content {
  text-align: center;
}
.header__title {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 44px;
  line-height: 41px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #1d1e1f;
  padding-top: 207px;
  margin-bottom: 4px;
}
.header__text {
  font-family: "Merriweather-LightItalic", serif;
  font-size: 16px;
  line-height: 17px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.03em;
  color: #898888;
  margin: 0 auto 43px;
}
.header__button {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #000000;
  width: 188px;
  height: 57px;
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto 206px;
}

/*////////////////////////////////ШАПКА/////////////////////////////////*/
/*////////////////////////////////!ABOUT/////////////////////////////////*/
.about {
  height: 1129px;
  padding-top: 128px;
  padding-bottom: 271px;
  background: url(../img/siti_white.png) center 101% repeat-x,
    url(../img/black_2.png) center 101% repeat-x, #1d1d1d;
  /*background-size: contain, contain;*/
}
.about__inner {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-template-columns: max-content max-content;
  grid-gap: 178px;
  place-content: center center;
}
.about__item {
  width: 417px;
  height: 276px;
  background-color: #181818;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__year {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #fefefe;
  margin-bottom: 27px;
}
.about__text {
  font-family: "Montserrat-Light", sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: 22px;
  color: #b7b7b7;
}

/*////////////////////////////////ABOUT/////////////////////////////////*/
/*////////////////////////////////!team/////////////////////////////////*/

.team {
  min-height: 745px;
  
  padding-top: 138px;
  padding-bottom: 149px;
}
.block__head {
  text-align: center;
}
.block__title {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #1d1e1f;
  margin-bottom: 13px;
}
.block__text {
  font-family: "Merriweather-LightItalic", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.02em;
  color: #898888;
}
.team__inner {
  display: flex;
  justify-content: space-around;
  padding-top: 131px;
}
.team__item {
  text-align: center;
}
.team__item-img {
  margin-bottom: 29px;
}
.team__item-title {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #464646;
  margin-bottom: 7px;
}
.team__item-text {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #b3b3b3;
  margin-bottom: 21px;
}
.team__icon-box a {
  font-size: 20px;
  color: #e4e4e4;
  transition: 0.2s;
}
.team__icon-box a :hover {
  color: #9d7d7d;
}
/*////////////////////////////////team/////////////////////////////////*/
/*////////////////////////////////!PROVADE//////////////////////////////*/
.provade {
  min-height: 835px;
  /*height: 100%;*/
  background-color: #1a0924;
  padding-top: 176px;
  padding-bottom: 155px;
}
/*.provade__container {
}
.block__head {
}
.two {
}*/
.two .block__title {
  
  margin-bottom: 5px;
  color: #ffffff;
}
.two .block__text {
  color: #777777;
}
.provade__inner {
  display: flex;
  justify-content: space-around;
  padding-top: 138px;
}
.provade__item {
  text-align: center;
  max-width: 335px;
  width: 100%;
}
.provade__item i {
  font-size: 63px;
  color: #ffffff;
  width: 172px;
  height: 172px;
  border: 5px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 43px;
}
.provade__item-title {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 31px;
}
.provade__item-text {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #383838;
}
/*////////////////////////////////PROVADE//////////////////////////////*/
/*////////////////////////////////!contact///////////////////////////////*/
.contact {
  max-height: 1087px;
  padding-top: 95px;
}
.contact__container {
  background-color: rgb(255, 255, 255);
  /*padding-bottom: 154px;*/
}
.contact__container .block__head .block__title {
  
  margin-bottom: 13px;
}
/*.block__head {
}
.block__title {
}
.block__text {
}
.contact__inner {
}*/
.contact__icon-box {
  display: flex;
  justify-content: space-between;
  max-width: 570px;
  width: 100%;
  margin: 0 auto;
  padding-top: 64px;
  margin-bottom: 153px;
}
.cnb {
  border: 1px solid #999999;
}
.contact__item {
  text-align: center;
  max-width: 130px;
  width: 100%;
}
.contact__item i {
  color: #323232;
  font-size: 21px;
}
.contact-text {
  margin-bottom: 12px;
}
.contact-text a {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #898888;
  text-decoration: none;
  transition: 0.3s;
}
.contact-text a:hover {
  color: #cf7e7e;
  text-decoration: underline;
}
.contact__form {
  display: flex;
  flex-direction: column;
  max-width: 770px;
  margin: 0 auto;
}
.contact__form input {
  height: 52px;
  padding: 20px;
  text-align: center;
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #898888;
}
.contact__name {
  margin-bottom: 20px;
}
.contact__email {
  margin-bottom: 20px;
}
.contact__number {
  margin-bottom: 18px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.contact__textarea {
  padding: 22px;
  margin-bottom: 21px;
  height: 195px;
  resize: none;
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #898888;
}
.contact__form .contact__button {
  outline: none;
  border: none;
  font-family: "HelveticaNeueLTProMd", sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #fefefe;
  background-color: #161616;
}
/*////////////////////////////////contact////////////////////////////////*/
/*////////////////////////////////!footer////////////////////////////////*/

.footer {
  padding-top: 154px;
  padding-bottom: 29px;
  background-color: rgb(255, 255, 255);
}
/*.footer__container {
}*/
.footer__text {
  text-align: center;
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #3b3b3b;
}
/*////////////////////////////////footer////////////////////////////////*/
/*////////////////////////////////!MEDIA/////////////////////////////////*/
/*@media for iPad*/
@media screen and (max-width: 769px) {
  .container {
    max-width: 768px;
  }
  .about {
    padding-bottom: 200px;
    height: auto;
  }
  .about__inner {
    grid-gap: 30px;
    grid-template-columns: max-content;
  }
  .provade {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  /* .team .block__title,
  .provade .block__title {
    padding-top: 100px;
  } */
  .provade__inner {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
  }
  .provade__item {
    max-width: 300px;
    margin-bottom: 20px;
    margin: 0px 30px 40px;
  }
  .contact__icon-box {
    padding-top: 60px;
    margin-bottom: 80px;
  }
  .footer {
    padding-top: 30px;
  }
}
/*@media for iPhone X*/
@media screen and (max-width: 376px) {
  /* body {
    max-width: 375px;
  } */
  .container {
    width: 375px;
  }
  .logo {
    margin: 0px -15px;
  }
  .menu__dekstop {
    display: none;
  }
  .menu__mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu {
    display: none;
  }
  .menu__burger {
    cursor: pointer;
    width: 30px;
    height: 3px;
    background-color: #000;
    position: relative;
  }
  .menu__burger::after {
    content: "";
    width: 30px;
    height: 3px;
    background-color: #000;
    position: absolute;
    bottom: -10px;
  }
  .menu__burger::before {
    content: "";
    width: 30px;
    height: 3px;
    background-color: #000;
    position: absolute;
    top: -10px;
  }
  .header__title {
    padding-top: 100px;
    margin-bottom: 30px;
  }
  .header__button {
    margin-bottom: 100px;
  }
  .about {
    padding-top: 60px;
  }

  .about__item {
    max-width: 340px;
  }
  .team {
    height: auto;
    padding-bottom: 80px;
  }
  .team__inner {
    padding-top: 100px;
    flex-wrap: wrap;
  }
  .team__item {
    width: 340px;
  }
  .provade{
    padding-top: 100px;
  }
}
/* ШРИФТЫ
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-family: "HelveticaNeueLTProMd", sans-serif;
  font-family: "HelveticaNeueLTProRoman", sans-serif;
  font-family: "Merriweather-LightItalic", sans-serif;
  font-family: "Montserrat-Light", sans-serif;
  font-family: "Montserrat-Regular", sans-serif;
  font-family: "Roboto-Regular", sans-serif;
*/
